**/*~
/SMARTHEP17_main.bbl
/SMARTHEP17_main.blg
/SMARTHEP17_main.aux
/SMARTHEP17_main.bcf
/SMARTHEP17_main.log
/SMARTHEP17_main.out
/SMARTHEP17_main.pdf
/SMARTHEP17_main.run.xml
/SMARTHEP17_main.toc
/SMARTHEP17-defs-deliverables.aux
/SMARTHEP17-defs-institutes.aux
/SMARTHEP17-defs-physics.aux
/SMARTHEP17-WP-descriptions.aux
