**/*~
/SMARTHEP17_main.bbl
/SMARTHEP17_main.blg
/SMARTHEP17_main.aux
/SMARTHEP17_main.bcf
/SMARTHEP17_main.log
/SMARTHEP17_main.out
/SMARTHEP17_main.pdf
/SMARTHEP17_main.run.xml
/SMARTHEP17_main.toc
/SMARTHEP17-defs-deliverables.aux
/SMARTHEP17-defs-institutes.aux
/SMARTHEP17-defs-physics.aux
/SMARTHEP17-WP-descriptions.aux
/.DS_Store
/SMARTHEP17_main.fff
/SMARTHEP17-defs-ESRs.aux
/snippets.tex
/Docs
/Docs/H2020-MSCA-ITN-2015_675077_SIGNED_PROPOSAL.pdf
/Docs/Next_Generation_Internet_of_Things_Distributed_Intelligence_at_the_Edge_IERC_2018_Cluster_eBook_978-87-7022-007-1_P_Web.pdf
/SMARTHEP18_main.bcf
/SMARTHEP18_main.log
/SMARTHEP18_main.out
/SMARTHEP18_main.pdf
/SMARTHEP18_main.run.xml
/SMARTHEP18_main.toc
/SMARTHEP18_main.ttt
/revision.tex
